body {
    background: url('img/star-wars-background.jpg');
}

.stage {
    background:rgba(255,255,255, 0.5);
    width: 50%;
    padding: 20px;
    border: solid 5px;
    border-color: yellow;
    border-radius: 5px;
}

#spinner img {
    transform: scale(0.5);
}
#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.type {
    color: #cc0000;
    font-weight: bold;
    text-transform: uppercase;
}

.name {
    color: #3b4cca;
    font-weight: bold;
    text-transform: capitalize;
}
